<template name="Header">
    <div class="ui top fixed borderless inverted menu">
  <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>GAME NIGHT</h1></a>
    <a class="{{ isActiveRoute 'Game_List'}} item" href="{{pathFor 'Game_List'}}"><p>Game List</p></a>
    <a class="{{ isActiveRoute 'Find_Game'}} item" href="{{pathFor 'Find_Game'}}"><p>Find A Game</p></a>
    <a class="{{ isActiveRoute 'Host_Game'}} item" href="{{pathFor 'Host_Game'}}"><p>Host A Game</p></a>
    <a class="{{ isActiveRoute 'Faq_Game'}} item" href="{{pathFor 'Faq_Page'}}"><p>FAQ / CONTACT</p></a>
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Add_Stuff_Page'}} item" href="{{ pathFor 'Add_Stuff_Page' }}">Add Stuff </a>
        <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">List Stuff</a>
      {{/if}}
      <a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>
    </div>
  </div>
</template>